/* Coolors Exported Palette - coolors.co/2d3142-bfc0c0-ffffff-ef8354-4f5d75 */



/* RGB */
$dkgrey: rgba(45, 49, 66, 1);
$ltgrey: rgba(191, 192, 192, 1);
$white: rgba(255, 255, 255, 1);
$orange: rgba(239, 131, 84, 1);
$grey: rgba(79, 93, 117, 1);