/* Coolors Exported Palette - coolors.co/2d3142-bfc0c0-ffffff-ef8354-4f5d75 */
/* RGB */
/*font-family: 'Raleway', sans-serif;
font-family: 'Bitter', serif;*/
html {
  font-family: 'Raleway', sans-serif; }
  html a {
    text-decoration: none;
    color: #4f5d75; }
  html a:hover {
    font-weight: bolder; }

body {
  margin: 0; }

header {
  background: #2d3142;
  padding: 2em 2em 0.5em 2em;
  text-align: center; }
  header h1 {
    color: #ef8354;
    font-family: 'Bitter', serif;
    font-size: 3em;
    margin: 0; }

.link-items {
  display: flex;
  justify-content: flex-end; }
  .link-items ul {
    list-style: none;
    margin: 0; }
  .link-items a {
    color: #bfc0c0;
    font-size: 1.25em;
    text-decoration: none; }
  .link-items a:hover {
    font-weight: 600;
    text-shadow: 2px 1px 1px #000; }
  .link-items li {
    display: inline;
    margin-left: 1.5em; }

code {
  background-color: white;
  color: #4f5d75; }

.container {
  background: #bfc0c0;
  display: flex;
  flex-direction: column;
  padding: 0.5em 2em; }

.indexList {
  margin-top: 1em;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }

.description {
  width: 40%;
  padding-right: 0.5em; }

.title {
  font-family: 'Bitter', serif; }

h2 {
  color: #ef8354; }

.embedded {
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  position: relative;
  background-color: #010101; }

.svgBox {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%; }

.date {
  color: #2d3142;
  display: flex;
  font-weight: bold;
  justify-content: flex-end; }

.codepenEmbedded {
  width: 70%;
  margin: 0.5em auto; }

#drumkitSVG {
  width: 100%;
  position: absolute;
  top: 19%; }

.upperStage {
  position: absolute;
  width: 100%;
  top: 0;
  height: 66%;
  background-image: linear-gradient(to bottom, #09203f 0%, #537895 100%); }

.floorStage {
  position: absolute;
  width: 100%;
  top: 65%;
  height: 35%;
  background-image: linear-gradient(to top, #e6b980 0%, #eacda3 100%); }

#boratSVG {
  height: 90%;
  position: absolute;
  top: 5%;
  left: 15.5%; }

.borat {
  background-image: linear-gradient(to top, #4facfe 0%, #00f2fe 100%); }

#popoSVG {
  height: 90%;
  position: absolute;
  top: 5%;
  left: 15.5%; }

.popo {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%); }

#gailSVG {
  height: 90%;
  position: absolute;
  top: 5%;
  left: 23%; }

.gail {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); }

#trex {
  width: 90%;
  position: absolute;
  top: 25%; }

.trex {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); }

.trexSVG {
  width: 10%; }

.trexSky {
  position: absolute;
  width: 100%;
  height: 75%;
  background-image: linear-gradient(to top, #432c39 0%, #fda34b 1%, #ff7882 25%, #c8699e 52%, #7046aa 71%, #0c1db8 87%, #020f75 100%); }

.trexGround {
  position: absolute;
  width: 100%;
  height: 25%;
  top: 75%;
  background-image: linear-gradient(to top, #4fb576 0%, #44c489 30%, #28a9ae 46%, #28a2b7 59%, #4c7788 71%, #6c4f63 86%, #432c39 100%); }

#batman {
  height: 90%;
  position: absolute;
  top: 5%;
  left: 20%; }

.batman {
  background: #750c0c; }

.batmanSVG {
  width: 10%; }

#twister {
  position: absolute;
  height: 71%;
  top: 5%;
  left: -9%; }

.twisterSky {
  width: 100%;
  height: 75%;
  background-image: linear-gradient(to bottom, #a8caba 0%, #5d4157 100%); }

.twisterGround {
  position: absolute;
  width: 100%;
  height: 25%;
  top: 75%;
  background-image: linear-gradient(to top, #4fb576 0%, #44c489 30%, #4c7788 71%, #6c4f63 86%, #432c39 100%); }

.twisterSVG {
  width: 10%; }

.chick {
  background: #050505; }

.h1Chick {
  position: absolute;
  left: 12%;
  font-family: 'Metal Mania', cursive;
  font-size: 2em;
  letter-spacing: 0.4em;
  text-shadow: 2px 2px 2px #750c0c, -2px -2px 2px #750c0c; }

#chickSVG {
  position: absolute;
  width: 100%;
  top: 32%; }

.skull {
  background: #750c0c; }

#skullSVG {
  position: absolute;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%; }

#skullSVG {
  position: absolute;
  left: 10%; }

#monkeySVG {
  height: 90%;
  position: absolute;
  top: 5%;
  left: 4.5%; }

.monkey {
  background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%); }

#monkeySVG {
  height: 90%;
  position: absolute;
  top: 5%;
  left: 4.5%; }

.monkey {
  background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%); }

#alienSVG {
  height: 90%;
  position: absolute;
  top: 5%;
  left: 15%; }

.alien {
  background-image: linear-gradient(to top, #c471f5 0%, #fa71cd 100%); }

#shyguySVG {
  height: 90%;
  position: absolute;
  top: 5%;
  left: 15%; }

.shyguy {
  background-image: linear-gradient(to top, #0fd850 0%, #f9f047 100%); }

#blockSVG {
  width: 90%;
  position: absolute;
  top: 10%;
  left: 5%; }

.block {
  background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%); }

#pipeSVG {
  height: 90%;
  position: absolute;
  top: 5%;
  left: 9%; }

.pipe {
  background-image: linear-gradient(45deg, #ee9ca7 0%, #ffdde1 100%); }

#goombaSVG {
  height: 90%;
  position: absolute;
  top: 5%;
  left: 18%; }

.goomba {
  background-image: linear-gradient(to top, #209cff 0%, #68e0cf 100%); }

#toadSVG {
  height: 90%;
  position: absolute;
  top: 5%;
  left: 23%; }

.toad {
  background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%); }

/*# sourceMappingURL=style.css.map */
